.global {
    height: 96vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../Images/wallpaperTattoArtist.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.loginDesign {

    height: 40vh;
    width: 20vw;
    border-radius: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: radial-gradient(#aeac7f 0.5px, transparent 0.5px), radial-gradient(#aeac7f 0.5px, transparent 0.5px);
    background-size: 11px 11px;
    background-position: 0 0, 5.5px 5.5px;
    background-color: #1a6884;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.checked {

    width: 16vw;

    display: flex;
    justify-content: end;
}

.space {

    height: 1.5vh;
    width: 20vw;
}

.buttonSubmit {

    height: 3em;
    width: 8em;

    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSubmit:hover {

    transition: 0.4s;
    background-color: rgb(128, 121, 121);
    cursor: pointer;
}

.errorMsg {

    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.registerButton {

    height: 3vh;
    width: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8em;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    color: rgb(48, 40, 40);
    cursor: pointer;
}