.tattooArtistDesign {

    height: 96vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../../Images/wallpaperTattoArtist.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.workerRoster {

    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(5em, 1fr));
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

.waiting {

    height: 90vw;
    width: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}