.superAdminDesign {

    height: 96vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: grey;
}

.optionsDesign {

    height: 40em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.buttonsDesign {

    height: 50vh;
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.buttonSa {

    height: 3em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
    font-size: x-large;
    color: black;

    border-radius: 5%;

    cursor: pointer;
}

.buttonSa:hover {

    transition: 0.3s;
    background-color: lightsalmon;
}
