.accountClientDesign {

    height: 96vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-image: url("../../Images/wallpaperHand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.Profile {
    height: 50vh;
    width: 20vw;

    background-image: url(../../Images/carboncillo.jpg);
    opacity: 0.7;
    border-radius: 8%;
    background-size: cover;
    background-repeat: no-repeat;
}

.NewAppointment {

    height: 50vh;
    width: 20vw;

    background-image: url(../../Images/carboncillo.jpg);
    opacity: 0.7;
    border-radius: 8%;
    background-size: cover;
    background-repeat: no-repeat;
}

.Appointments {

    height: 50vh;
    width: 20vw;

    background-image: url(../../Images/carboncillo.jpg);
    opacity: 0.7;
    border-radius: 8%;
    background-size: cover;
    background-repeat: no-repeat;
}