.appointmentsDesign {
    height: 96vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.viewAllAppointments {
    width: 40vw;
}

.appointmentItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.lineOne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lineTwo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lineOne div {
    width: 48%;
}

.lineTwo div {
    width: 60%;
}

.line {
    height: 0.1em;
    width: 100%;
    background-color: green;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.goTopButton {

    height: 2em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    color: white;

    border-radius: 5%;
    cursor: pointer;
    margin-right: 0.3em;
}

.goTopButton:hover {
    background-color: rgb(47, 47, 234);
}

.goToSuperAdmin {

    height: 2em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    color: white;


    border-radius: 5%;
    cursor: pointer;
    margin-left: 0.3em;
}

.goToSuperAdmin:hover {
    background-color: rgb(47, 47, 234);
}