.appointmentsDesign {
    height: 96vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.viewAllAppointments {
    
    height: 90vh;
    width: 45vw;
    overflow: auto;
}

.appointmentItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

.line {
    height: 0.1em;
    width: 100%;
    background-color: green;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.goToSuperAdmin {

    height: 2em;
    width: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    color: white;


    border-radius: 5%;
    cursor: pointer;
    margin-left: 0.3em;
}

.goToSuperAdmin:hover {
    background-color: rgb(47, 47, 234);
}