.body {
    height: 96vh;
    width: 100vw;

    display: flex;

}

.productDesign {

    flex-direction: column;
    justify-content: center;
    background-color: rgb(43, 40, 40);

}

.productRoster {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

.waiting {

    height: 96vw;
    width: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}