.allView {

    height: 96vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../../Images/wallpaperHand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.createAppointmentDesign {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datePicker {

    height: 6vh;
    margin-top: 2em;
}

.customInput {

    height: 5vh;
    margin-top: 2em;
}

.myAppointments {
    
    height: 80vh;
    width: 100vw;
}

.successMsg{
    font-size: larger;
    font-weight: bolder;
    color: wheat;
}