.allView {

    height: 96vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

.createAppointmentDesign {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datePicker {

    height: 6vh;
    margin-top: 2em;
}

.customInput {

    height: 5vh;
    margin-top: 2em;
}

.myAppointments {
    
    height: 80vh;
    width: 100vw;
}