.appointmentClientSpaceDesign {

  height: 96vh;
  width: 100vw;

  display: flex;

  background-image: url("../../Images/wallpaperHand.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tableAppointmentDesign {
  height: 96vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modifyAppointmentDesign {

  height: 96vh;
  width: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;

}

.appointmentRow {
  background-color: rgb(145, 157, 156);
  padding: 2em;
  font-weight: bold;
  font-size: large;
  color: white;
}

.appointmentRow.even {
  background-color: rgba(156, 156, 154, 0.851);
  border-radius: 5%;
  margin-bottom: 0.2em;
}

.appointmentRow.odd {
  background-color: rgba(128, 125, 125, 0.84);
  border-radius: 5%;
  margin-top: 0.2em;
}

.navigationButtons {
  margin-top: 1em;
}

.name {
  color: black;
}

.auxiliarButtons {

  width: 20vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auxOne {

  height: 3em;
  width: 12em;

  border-radius: 5%;
  background-color: chocolate;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin-bottom: 2em;

}

.auxOne:hover {

  transition: 0.4s;
  background-color: lightsalmon;
  cursor: pointer;
}

.auxTwo {

  height: 3em;
  width: 12em;

  border-radius: 5%;
  background-color: chocolate;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.auxTwo:hover {

  transition: 0.4s;
  background-color: lightsalmon;
  cursor: pointer;
}